@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3">Welcome!</h1>
    <button class="btn btn-outline-primary"><a href="~/glossary"><i class="fas fa-sign-in-alt"></i> Enter the application</a></button>
</div>
